<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reggie-azure-function-app-calculator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/282bcf6a-c7b2-40cb-bdcb-818e7e742616/resourceGroups/reggierg/providers/Microsoft.Web/sites/Reggie-Azure-Function-App-calculator</ResourceId>
    <UserName>$Reggie-Azure-Function-App-calculator</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://reggie-azure-function-app-calculator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>